.add-coin {
  /* display: inline; */
  margin: 0 auto;
  max-width: 960px;
}

.select {
  float: left;
  margin-right: 16px;
  width: 240px;
}

#add-coin__input {
  float: left;
  font-family: Inconsolata, Menlo, monospace;
  font-size: 16px;
  background-color: hsl(0,0%,100%);
  border-color: hsl(0,0%,80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: space-between;
  min-height: 32px;
  outline: 0 !important;
  padding: 2px 8px;
}