.coin-display {
  max-width: 768px;
  border: 1px solid black
}

.coin-display__name {
  float: left;
}

.coin-display__price {
  float: right;
}

.coin-display__symbol {
  float: left;
}

.coin-display__change {
  float: right;
}

.coin-display__rank {
  float: left;
}

.coin-display__marketCap {
}

.coin-display__volume {
  float: right;
}